.errorMsg
{
	display:none;        
	color:Red;
}
#logout-btn
{
	display: none;
	position:absolute;
	top:10;
	right:10;
}
#maindiv
{
	display: none;
}
#header
{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
#editordiv
{
	background-color:#dddddd;
}
#movelist li
{
	display:inline;
	list-style-type: none;
	padding: 5px;
}
#movecontainer
{
	
}
#playerdiv
{
	width:350px;
	float:left;
	padding:10px; 
}
#controldiv
{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px; 
}