body
{
	font-size: 80%
}
.errorMsg
{
	display:none;        
	color:Red;
}
option.Grey {background-color:#cccccc; color:white;}
option.Black {background-color:#000000; color:white;}
option.White{background-color:#ffffff; color:black;}
option.Blue{background-color:#0000ff; color:white;}
option.Red{background-color:#ff0000; color:white;}
option.Green {background-color:#00ff00; color:black;}
option.Yellow {background-color:#ffff00; color:black;}
option.Cyan{background-color:#00ffff; color:black;}
option.Pink{background-color:#ff69b4; color:black;}
option.Lilac{background-color:#c8a2c8; color:black;}

#drag-elements
{
	list-style:none;
	padding:0;
	margin:0 0 1em
}
#drag-elements li
{
	display:inline-block;
	padding:.5em 1em;
	margin:0 1em 1em 0;
	border:1px solid #d9d9d9;
	background:#f7f7f7;
	border-radius:3px
}

.command
{
	display:inline-block;
	padding:.5em 1em;
	margin:0 1em 1em 0;
	border:1px solid #d9d9d9;
	background:#f7f7f7;
	border-radius:3px
}

#logout-btn
{
	display: none;
	position:absolute;
	top:10;
	right:10;
}
#maindiv
{
	display: none;
}
#header
{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	height:25px;
	font-size: 130%;
}
#editordiv
{
	background-color:#eeeeee;
	float:left;
	width:350px;
	height:800px;
	font-size:80%;
}
#movecontainer
{
	float:left;
	width:350px;
	height:370px;
}
#editorspace
{
	float:left;
	width:350px;
	height: 370px;
	font-size: 120%
}
#edittxt
{
	height: 20px;
	width: 80px;
}
#droppable
{
	float:left;
	width:300px;
	height:280px;
}
#saveDirErr
{
	color:red;
}
#playerdiv
{
	position: relative;
	width:800px;
	height:800px;
	border: 2px solid #a1a1a1;
	background: #cccccc;
	float: left;
	text-align: left;
	background-image: ;
	background-repeat: repeat;
}
#sprite
{
	position: relative;
	left: 0px;
	top: 0px;
}
#sprite2
{
	position: relative;
	left: 0px;
	top: 0px;
}
#placeholderSprite
{
	position: relative;
}
#controldiv
{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px; 
}
