body
{
	font-size: 80%
}
.errorMsg
{
	display:none;        
	color:Red;
}
#logout-btn
{
	display: none;
	position:absolute;
	top:10;
	right:10;
}
#maindiv
{
	display: none;
}
#header
{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	height:25px;
	font-size: 130%;
}
#editordiv
{
	background-color:#eeeeee;
	float:left;
	width:300px;
	height:800px;
	font-size:80%;
}
#movecontainer
{
	float:left;
	width:300px;
	height:270px;
}
#editorspace
{
	float:left;
	width:300px;
	height: 500px;
	font-size: 120%
}
#edittxt
{
	height: 18px;
}
#droppable
{
	float:left;
	width:250px;
	height:400px;
}
#playerdiv
{
	width:550px;
	float:left;
	padding:10px; 
}
#controldiv
{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px; 
}